<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gurmeet.corvac">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage"
        />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CorVac"
        >
        <activity android:name=".adminbookingdata"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".adminvaccineinput"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".userseconddosedata"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".userfirstdosedata"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".userbookingshow"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".hospitaldata"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".adminhomescreen"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".adminsignup"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".adminlogin"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".adminuserlogin"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".location"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".Signup"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".userhomescreen"
            android:launchMode="singleTop"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".firstslide"
            android:configChanges="orientation"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>



        <service
            android:name=".FirebaseMessagingService"
            android:permission="TODO"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

    </application>

</manifest>